[submodule "contrib/cppformat"]
  path = contrib/cppformat
  url = https://github.com/cppformat/cppformat
[submodule "dev-machine"]
  path = dev-machine
  url = git@github.com:flowgrammable/dev-machine